/*
General
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

a{
	text-decoration: none;
}

.home{
	width: 100%;
	height: 100vh;
    /* background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("../images/websiteBG.jpg") center no-repeat;
    background-size: cover;
	position: relative;
	https://cdn.pixabay.com/photo/2020/03/07/11/54/the-fog-4909513_960_720.jpg
	https://pixabay.com/photos/the-fog-darkness-nature-trees-4909513/
	background-attachment: scroll; */
  	/* overflow: hidden; */
	margin-bottom: -15em;
}

body {
	background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.5)), url("../images/websiteBG.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right 0px bottom 0px;
	overflow-x: hidden;
}

/* .overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
} */

::-webkit-scrollbar{
	width: 25px;
}

::-webkit-scrollbar-track{
	background: linear-gradient(
		45deg,
		rgb(132, 0, 26),
		rgb(0, 33, 131)
	);
	border: 7px solid black;
	margin-block: -0.6em;
	box-shadow: inset 0 0 2.5px rgba(0,0,0,.5);
}

::-webkit-scrollbar-thumb{
	background: linear-gradient(
		45deg,
		rgb(255, 0, 51),
		rgb(0, 64, 255)
	);
	border-radius: 3px;
}


/*
Navigation Bar
*/
.tabs a{
    font-size: 20px;
    color: rgb(255, 252, 199);
    text-shadow:
    0 0 7px rgb(255, 249, 144),
    0 0 10px rgb(255, 249, 144),
    0 0 21px rgb(255, 249, 144);/*,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;*/
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

a:hovernav ul li:nth-child(1){
    color: rgb(255, 0, 51);
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 10;
}

nav ul li a::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: rgb(20, 57, 220);
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}

  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }

}


/*
Banner
*/
.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.banner{
	max-width: 120rem;
	width: 90%;
	/* margin: 0 auto; */
	margin: 3% 0;

	display:flex;
	justify-content: space-around;
}

.brand{
	font-size: 3rem;
	font-weight: 300;

	/* Slide Animation */
	transform: translateX(-100rem);
	animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@keyframes slideInY {
	from{

	}
	to{
		transform: translateY(0);
	}
}

.brand img{
    border-radius: 50%;
	margin-left: 50%;
}

.bannerRight{
	align-content: center;
	vertical-align: middle;
	color: rgb(255, 255, 255);

	/* Center vertically */
	margin-top: 50px;
}

.channelName{
	font-size: 100px;

	/* Slide Animation */
	transform: translateX(100rem);
	animation: slideIn 1.5s forwards;

	/* TubeLight Effect*/
	-webkit-box-reflect: below -45px linear-gradient(transparent, transparent 60%, #0004);
}

.channelName span[data-symbol="X"]{
	color: rgb(255, 255, 255);
	text-shadow: 0 0 10px rgb(255, 0, 51),
	0 0 20px rgb(255, 0, 51),
	0 0 40px rgb(255, 0, 51),
	0 0 80px rgb(255, 0, 51),
	0 0 160px rgb(255, 0, 51);
}

.channelName span[data-symbol="2"]{
	color: rgb(255, 255, 255);
	text-shadow: 0 0 10px rgb(255, 225, 0),
	0 0 20px rgb(255, 225, 0),
	0 0 40px rgb(255, 225, 0),
	0 0 80px rgb(255, 225, 0),
	0 0 160px rgb(255, 225, 0);

    font-size: 80px;
    vertical-align: 9%;
	margin: 0 10px;
}

.channelName span[data-symbol="Z"]{
	color: rgb(255, 255, 255);
	text-shadow: 0 0 10px rgb(0, 64, 255),
	0 0 20px rgb(0, 64, 255),
	0 0 40px rgb(0, 64, 255),
	0 0 80px rgb(0, 64, 255),
	0 0 160px rgb(0, 64, 255);

	margin-right: 20px;
}

.slogan{
	font-size: 30px;

	/* Fade In Animation */
	animation: 4s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:1; }
}



/*
Meet the Creators
*/
.sectionHeading{
	font-size: 70px;
	font-family: 'Chakra Petch', sans-serif;
	color: white;
	align-content: center;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.creators-heading{
	/* Fade In Animation */
	animation: 6s ease 0s normal forwards 1 fadein;
}

.creators{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
	display: flex;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img[data-name="Rob"]{
	-moz-box-shadow: 0 0 25px rgb(255, 0, 51);
	-webkit-box-shadow: 0 0 25px rgb(255, 0, 51);
	box-shadow: 0px 0px 25px rgb(255, 0, 51);
	border-radius: 50px;
}

img[data-name="Serge"]{
	-moz-box-shadow: 0 0 25px rgb(0, 64, 255);
	-webkit-box-shadow: 0 0 25px rgb(0, 64, 255);
	box-shadow: 0px 0px 25px rgb(0, 64, 255);
	border-radius: 50px;
}

.fade-in{
	opacity: 0;
	transition: opacity 1s ease-in;
}

.fade-in.appear{
	opacity: 1;
}

.from-left{
	opacity: 0;
}

.from-right{
	opacity: 0;
}

.from-left.appear{
	/* Slide Animation */
	transform: translateX(-100rem);
	opacity: 1;
	animation: slideIn 1.0s forwards;
}

.from-right.appear{
	/* Slide Animation */
	transform: translateX(100rem);
	opacity: 1;
	animation: slideIn 1.0s forwards;
}

h1[data-name="Rob"]{
	font-size: 50px;
	color: rgb(255, 255, 255);
	text-shadow: 0 0 10px rgb(255, 0, 51),
	0 0 20px rgb(255, 0, 51),
	0 0 40px rgb(255, 0, 51),
	0 0 80px rgb(255, 0, 51),
	0 0 160px rgb(255, 0, 51);
	text-align: center;
	margin-top: 10px;
}

h1[data-name="Serge"]{
	font-size: 50px;
	color: rgb(255, 255, 255);
	text-shadow: 0 0 10px rgb(0, 64, 255),
	0 0 20px rgb(0, 64, 255),
	0 0 40px rgb(0, 64, 255),
	0 0 80px rgb(0, 64, 255),
	0 0 160px rgb(0, 64, 255);
	text-align: center;
	margin-top: 10px;
}

.creators p{
	font-size: 30px;
	color: white;
	margin: 10px 30px;
	margin-bottom: 100px;
}


/*
Follow Us On
*/
.socialsHeading{
	font-size: 70px;
	font-family: 'Chakra Petch', sans-serif;
	color: white;
	align-content: center;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.socialsHeading:before{
	content:"";
  background-color:#000;
  position: absolute;
  padding-top: 250px;
  height: 30px;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}
.socials{
	margin-bottom: 200px;
	display: flex;
	justify-content: center;
}
.socials ul{
	position: relative;
	display: flex;
	gap: 120px;
}
.socials ul li{
	position: relative;
	list-style: none;
	width: 96px;
	height: 96px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.5s;
}
.socials ul li:hover{
	z-index: 10000;
	transform: scale(0.75);
}
.socials ul li::before{
	content: '';
	position: absolute;
	inset: 36px;
	box-shadow: 0 0 0 12px var(--clr), 0 0 0 24px black, 0 0 0 26.4px var(--clr);
	transition: 0.5s;
}
.socials ul li:hover::before{
	inset: 0px;
}
.socials ul li::after{
	content: '';
	position: absolute;
	inset: 0;
	background: black;
	transform: rotate(45deg);
}
.socials ul li a{
	position: relative;
	text-decoration: none;
	color: var(--clr);
	z-index: 10;
	font-size: 4em;
	transition: 0.5s;
}
.socials ul li:hover a{
	font-size: 6.4em;
	filter: drop-shadow(0 0 24px var(--clr)) drop-shadow(0 0 48px var(--clr)) drop-shadow(0 0 72px var(--clr));
}


/*-------------------------------------------------------------VIDEOS------------------------------------------------------------------*/


/*
Search Tools
*/
.search-tools{
	display: flex;
	margin-top: 5em;
}

/* label[for=search]{
	font-size: 2em;
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Chakra Petch', sans-serif;

	text-transform: uppercase;
	position: absolute;
	pointer-events: none;
	letter-spacing: 0.075em;
} */

.search-wrapper span{
	font-size: 2em;
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Chakra Petch', sans-serif;

	text-transform: uppercase;
	position: absolute;
	pointer-events: none;
	letter-spacing: 0.075em;
	transition: 0.5s;
}

.search-wrapper{
	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	margin-right: 3em;
	width: 50%;

	/* Fade In Animation */
	animation: 2s ease 0s normal forwards 1 fadein;
}

.search-wrapper input{
	font-size: 2rem;
	background: transparent;
	color: white;
	font-family: 'Chakra Petch', sans-serif;
	border: none;
	outline: none;
	box-shadow: none;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-wrapper input:valid ~ span,
.search-wrapper input:focus ~ span{
	color: #2196f3;
	transform: translateY(-1.4em);
	font-size: 1.5em;
}

.search-wrapper i{
	position: absolute;
	width: 60em; /* width: 79.3%;  */
	height: 0.25em;
	background: white;
	top: 15em;
	overflow: hidden;
}
.search-wrapper i::before{
	content: '';
	position: absolute;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg,
		rgb(255, 0, 51),
		rgb(0, 64, 255),
		rgb(255, 0, 51),
		rgb(0, 64, 255),
		rgb(255, 0, 51)
	);
	animation: animate 6s linear infinite;
}
.search-wrapper input:valid ~ i::before,
.search-wrapper input:focus ~ i::before{
	left: 0;
}


@keyframes animate{
	0%
	{
		background-position-x: 0;
	}
	100%
	{
		background-position-x: 120em;
	}
}


.dropdown{
	font-family: 'Chakra Petch', sans-serif;
	font-size: 1.5em;
	min-width: 16em;

	/* Slide Animation */
	transform: translateX(100rem);
	animation: slideIn 1.5s forwards;

	z-index: 1;
}
.dropdown-menu{
	min-width: 16em;
	position: relative;
	/* margin: 2em; */
}
.dropdown-menu *{
	box-sizing: border-box;
}
.select{
	background: #2a2f3b;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 0.1em #2a2f3b solid;
	border-radius: 0.5em;
	padding: 0.5em;
	cursor: pointer;
	transition: background 0.3s;
}
.select-clicked{
	border: 0.1em #26489a solid;
	box-shadow: 0 0 0.8em #26489a;
}
.select:hover{
	background: #323741;
}
.caret{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid white;
	transition: 0.3s;
}
.caret-rotate{
	transform: rotate(180deg);
}
.dropdown-menu{
	margin-top: 0.5em;
	list-style: none;
	padding: 0.2em 0.5em;
	background: #323741;
	border: 0.1em #363a43 solid;
	box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
	border-radius: 0.5em;
	color: #9fa5b5;
	position: absolute;
	z-index: 10;
	opacity: 0;
	display: none;
	transition: 0.2s;
}
.dropdown-menu li{
	padding: 0.7em 0.5em;
	margin: 0.1em 0;
	border-radius: 0.5em;
	cursor: pointer;
}
.dropdown-menu li:hover{
	background: #2a2d35;
}
.active{
	background: #23242a;
}
.dropdown-menu-open{
	display: block;
	opacity: 1;
}



/*
Videos Section
*/
.video-cards{
	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  	gap: 2rem;
  	margin-top: 3rem;

	/* Slide Animation */
	transform: translateY(100rem);
	animation: slideInY 1.5s forwards;
}

.hide{
	display: none;
}


/*
Video Card
*/
.card{
	/* border: 0.5rem solid white; */
	background-color: #2a2e35;
	/* padding: 1rem; */
	border-radius: 5px;
  	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  	transition: all 0.4s ease-in-out;
}
.card:hover {
	/* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3); */
	transform: translateY(-5px);
	transition: all 0.4s ease-in-out;

	-moz-box-shadow: 0 0 25px rgb(255, 0, 51);
	-webkit-box-shadow: 0 0 25px rgb(255, 0, 51);
	box-shadow: 0px 0px 25px rgb(255, 0, 51);
}

.card img {
	filter: grayscale(100%);
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	transition: all 0.4s ease-in-out;
}
.card:hover img {
	filter: grayscale(0);
	transform: scale(1.03);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}

.card-text {
	margin-top: -7px;
	padding: 1.1rem;
	border-top: 1.5rem solid transparent;
	-moz-border-image: -moz-linear-gradient(left, rgb(255, 0, 51) 0%, rgb(0, 64, 255) 100%);
	-webkit-border-image: -webkit-linear-gradient(left, rgb(255, 0, 51) 0%, rgb(0, 64, 255) 100%);
	border-image: linear-gradient(to right, rgb(255, 0, 51) 0%, rgb(0, 64, 255) 100%);
	border-image-slice: 1;
}

.card h1{
	font-size: 2.5rem;
	color: rgb(217, 217, 217);
	/* background: -webkit-linear-gradient(left, rgb(255, 0, 51), rgb(0, 64, 255));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent; */

  	margin-bottom: 0.7rem;
  	transition: all 0.4s ease-in-out;
  	/* cursor: pointer; */

	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.card-text p{
	font-size: 1.5rem;
	color: #b2becd;
  	line-height: 2rem;
  	/* padding-bottom: 1rem; */

	/* limit # of lines */
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.watch-button{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.watch-button:hover{
	transform: scale(1.05);
	transition: 0.5s;
}
.watch-button a{
	position: relative;
	width: 13.3em;
	height: 5em;
	display: inline-block;
	background: #eeeeee;
	margin-bottom: 1em;
}
.watch-button a:before,
.watch-button a:after{
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgb(255, 0, 51);
	transition: 0.5s;
}

.watch-button a:before,
.watch-button a:after{
	background: linear-gradient(45deg, rgb(255, 0, 51), #2a2e35, #2a2e35, rgb(0, 64, 255));
}

.watch-button a:hover:before{
	inset: -0.25em;
}
.watch-button a:hover:after{
	inset: -0.25em;
	filter: blur(1em);
}
.watch-button i{
	margin-right: 0.15em;
}
.watch-button a span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	background: #2a2e35;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	color: #fff;
	border: 0.08em solid #040a29;
	overflow: hidden;
	font-family: 'Chakra Petch', sans-serif;
}
.watch-button:hover{
	color: rgb(255, 255, 255);
	text-shadow: 0 0 10px rgb(255, 255, 255),
	0 0 20px rgb(255, 255, 255);
}
.watch-button a span::before{
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.075);
	transform: skew(25deg);
}

.video-details{
	align-items: center;
	text-align: center;
	font-size: 1.8rem;
	color: #b2becd;
  	line-height: 2.5rem;
	margin-bottom: 0.45em;
	font-family: 'Chakra Petch', monospace;
}

.card-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3em;
}

.footer{
	margin-top: 10em;
}



/*-------------------------------------------------------------PLAYLISTS------------------------------------------------------------------*/

/* 
Genre Board
*/
.genres{
	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
  	gap: 2rem;
  	margin-top: 7em;
	/* display: none; */

	/* Slide Animation */
	transform: translateY(100rem);
	animation: slideInY 1.5s forwards;
}
.genre-card{
	background-color: #2a2e35;
	border-radius: 2em;
  	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  	transition: all 0.4s ease-in-out;
	cursor: pointer;
	position: relative;
}
.genre-card:hover {
	transform: translateY(-5px);
	transition: all 0.4s ease-in-out;

	-moz-box-shadow: 0 0 25px rgb(255, 0, 51);
	-webkit-box-shadow: 0 0 25px rgb(255, 0, 51);
	box-shadow: 0px 0px 25px rgb(255, 0, 51);
}
.genre-title{
	color: white;
	font-size: 4em;
	text-align: center;
	margin-top: 1em;
	font-family: 'Chakra Petch', sans-serif;
	transition: all 0.4s ease-in-out;
}
.genre-card i{
	display: inline-block;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 10em;
	margin-top: 0.1em;
	margin-bottom: 0.5em;
	transition: all 0.4s ease-in-out;
}
.genre-card:hover i{
	color: rgb(255, 255, 255);
	text-shadow: 0 0 5px rgb(255, 0, 0);
	transition: all 0.4s ease-in-out;
}
.genre-card:hover h1{
	color: rgb(255, 255, 255);
	text-shadow: 0 0 5px rgb(255, 0, 0);
	transition: all 0.4s ease-in-out;
}
.cardLink
{ 
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;
  
	z-index: 1;
  
	/* fixes overlap error in IE7/8, 
	   make sure you have an empty gif */
	background-image: url('empty.gif');
}   




/*-------------------------------------------------------------GENRE PAGES------------------------------------------------------------------*/


/*
Playlists Section
*/
.playlist-cards{
	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  	gap: 2rem;
  	margin-top: 3rem;

	/* Slide Animation */
	transform: translateY(100rem);
	animation: slideInY 1.5s forwards;
}

/*
Playlist Card - Most reused from Video Card
*/

.playlist-details{
	align-items: center;
	text-align: center;
	font-size: 1.8rem;
	color: #b2becd;
  	line-height: 2.5rem;
	margin-bottom: 0.45em;
	font-family: 'Chakra Petch', monospace;
}